* {
    padding: 0;
    margin: 0;
}
#header{
    background-color: rgb(54, 194, 199);
    text-align: center;

} 
#sectionMain{
    display: flex;
}
#main {
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg");
    /* background-color: bisque; */
    text-align: justify;
    width: 80vw;
}
#aside {
    width: 20vw;
    background-color: aqua;
    padding: 20px;
}
#aside li{
    padding-top: 7px;
    text-align: left;
    font-size: 17px;
}
#main p{
    padding: 10px;
}
#footerPage{
    background-color: gold ;
    height: 15vh;
}